.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4,25%);
    background-color: gray;
    /* max-height: 200px;
    padding-top: 20px;
     */
     position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}